<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main_light.css">
    </head>
    <body>
      <nav>
          <ul>
              <li><a class="home_tab" href="/">HOME</a></li>
              <li><a class="about_tab" href="/about">ABOUT</a></li>
              <li><a class="projects_tab" href="/cv">PROJECTS</a></li>
              <li><a class="blog_tab" href="/blog">BLOG</a></li>
          </ul>
      </nav>
      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:andreskim2018@u.northwestern.edu">email</a></li>
              <li><a href="https://github.com/afkim14>github.com/afkim14"</a></li>
        </ul>
      </footer>
    </body>
  </html>