<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="../../../../css/main_light.css">
      <link href="../../../../css/syntax.css" rel="stylesheet">
    </head>
    <body>
      <nav>
          <ul>
              <li><a class="home_tab" href="../../../../">HOME</a></li>
              <li><a class="about_tab" href="../../../../about">ABOUT</a></li>
              <li><a class="projects_tab" href="../../../../projects">PROJECTS</a></li>
              <li class="selected_tab">BLOG</li>
          </ul>
      </nav>
      <span><a href="../../../../blog"><img src="../../../../extra/images/icons/left-arrow.png" style="height: 40px; margin-bottom: -25px;"></a></span>
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </header>

        <div class="post-content" itemprop="articleBody" style="text-align: justify;">
          {{ content }}
        </div>
      </article>

      <footer>
          <ul>
              <li><a class="info" href="mailto:andreskim2018@u.northwestern.edu">email</a></li>
              <li><a class="info" href="https://github.com/afkim14">github.com/afkim14</a></li>
              <li><a class="info" href="https://www.instagram.com/cheonoong/">instagram</a></li>
          </ul>
      </footer>
    </body>
  </html>
